[Unit]
Description=Bloom Broker to Signer socket for login UID %i

[Socket]
ListenStream=/run/bloom/%i/signer.sock
FileDescriptorName=signer
Service=bloom-signer@%i.service
SocketUser=bloom-signer-%i
SocketGroup=bloom-broker-signer-%i
SocketMode=0660
DirectoryMode=0711
RemoveOnStop=yes
Accept=no

[Install]
WantedBy=sockets.target
