[Unit]
Description=Bloom Machine to Broker socket for login UID %i

[Socket]
ListenStream=/run/bloom/%i/broker.sock
FileDescriptorName=broker
Service=bloom-broker@%i.service
SocketUser=bloom-broker-%i
SocketGroup=bloom-machine-broker-%i
SocketMode=0660
DirectoryMode=0711
RemoveOnStop=yes
Accept=no

[Install]
WantedBy=sockets.target
