[Unit]
Description=Bloom Broker revocation control socket for login UID %i

[Socket]
ListenStream=/run/bloom/%i/broker-control.sock
FileDescriptorName=broker-control
Service=bloom-broker@%i.service
SocketUser=bloom-broker-%i
SocketGroup=bloom-revoke-%i
SocketMode=0660
DirectoryMode=0711
RemoveOnStop=yes
Accept=no

[Install]
WantedBy=sockets.target
