[Unit]
Description=Bloom Signer revocation control socket for login UID %i

[Socket]
ListenStream=/run/bloom/%i/signer-control.sock
FileDescriptorName=signer-control
Service=bloom-signer@%i.service
SocketUser=bloom-signer-%i
SocketGroup=bloom-revoke-%i
SocketMode=0660
DirectoryMode=0711
RemoveOnStop=yes
Accept=no

[Install]
WantedBy=sockets.target
